<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentid1" class="org.example.Student" scope="singleton"> </bean>

    <bean id="studentid2" class="org.example.Student" scope="prototype"> </bean>
</beans>